<div class="container">
  <div class="row mx-auto">
    <div class="col-md-6 mt-3">
      <div class="form-check">
        <input
          type="checkbox"
          [(ngModel)]="chestFlag"
          class="form-check-input"
          id="chest"
        />
        <label class="form-check-label" for="chest"
          >X3 Chest and Bicep Flag</label
        >
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="form-check">
        <input
          type="checkbox"
          [(ngModel)]="bTracksFlag"
          class="form-check-input"
          id="bTracks"
        />
        <label class="form-check-label" for="bTracks">B tracks Flag</label>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="form-check">
        <input
          type="checkbox"
          [(ngModel)]="weightManagementFlag"
          class="form-check-input"
          id="weightManagementFlag"
        />
        <label class="form-check-label" for="weightManagementFlag">Weight Management Flag</label>
      </div>
    </div>
    <div class="col-md-6 mt-3">
      <div class="form-check">
        <input
          type="checkbox"
          [(ngModel)]="x3TrainingFlag"
          class="form-check-input"
          id="x3TrainingFlag"
        />
        <label class="form-check-label" for="x3TrainingFlag">X3 Training Tab Flag</label>
      </div>
    </div>
    <div class="col-sm-6 mt-3 d-flex">
      <p class="my-auto">Baseline Reminder:</p>
     <select class="form-control grey ml-3 w-25" [(ngModel)]="baselineReminder">
      <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
     </select>
    </div>
    <div class="col-md-12 text-center mt-5">
      <button class="btn btn-primary" (click)="updateBaslineValues()">Submit</button>
    </div>
  </div>
</div>
