<div class="main">
    <div class="blue-bg"></div>
        <div class="grey-bg">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="login">
                            <div class="login-card">
                                <!-- <div class="img">
                                    <img src="./../../../assets/images/login-img.png" />
                                </div> -->
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col pr-0">
                                            <div  class="btn login-btn active"  >Change Your Password</div>
                                        </div>
                                        
                                    </div>
                                    <div class="alert alert-danger text-center" *ngIf = "error != null">
                                        <strong>{{error}}</strong>
                                    </div>
                                    <form [formGroup] = "ChangePasswordForm" (submit) = "Change_Password()">
                                        <!-- <div> <label for="sel1">Select Your Locations</label></div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="./../../../assets/images/location.png"></span>
                                            </div>
                                            <div class="custom-select-wrapper">
                                                <select class="custom-select">
                                                    <option value="1">Sanfransisco , California</option>
                                                    <option value="1">England</option>
                                                    <option value="2">USA</option>
                                                </select>
                                            </div>
                                        </div> -->
                                        <div> <label for="sel1">Enter New Password:</label></div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="./../../../assets/images/lock.png"></span>
                                            </div>
                                            <input type="password"  class="form-control input" placeholder="********" formControlName = "password1" [ngClass]="{ 'is-invalid': submitted && ChangePasswordForm.get('password1').invalid }">
                                            <div class="invalid-feedback" *ngIf="submitted && ChangePasswordForm.get('password1').invalid">
                                                <div *ngIf="ChangePasswordForm.get('password1').errors.required">Password is required</div>
                                                <div *ngIf="ChangePasswordForm.get('password1').errors.minlength">Password must be atleast 6 characters</div>
                                            </div>
                                        </div>

                                        <div> <label for="sel1">Confirm Password:</label></div>
                                        <div class="input-group form-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><img src="./../../../assets/images/lock.png"></span>
                                            </div>
                                            <input type="password"   class="form-control input" placeholder="********" formControlName = "password2" [ngClass]="{ 'is-invalid': submitted && ChangePasswordForm.get('password2').invalid }">
                                            <div class="invalid-feedback" *ngIf="submitted && ChangePasswordForm.get('password2').invalid">
                                                <div *ngIf="ChangePasswordForm.get('password2').errors.required">Password is required</div>
                                                <div *ngIf="ChangePasswordForm.get('password2').errors.minlength">Password must be atleast 6 characters</div>
                                            </div>
                                        </div>
                                        
                                    
                                        <div class="form-group btn-pos">
                                            <button class="btn w-100 login-now" type="submit" value="login" >Change Password</button>
                                            <img src="./../../../assets/images/right-arrow.png"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</div>
