
@font-face {
    font-family: TTCommons-Regular;
    src: url(./../../../assets/fonts/TTCommons-Regular.ttf);
  }

  .form-control.is-invalid{
      border-color:#dc3545;
  }
.main{
    font-family: TTCommons-Regular;
    .blue-bg{
        background-color: #f0bf3c;
        position: relative;
        height: 252px;
    }
    .grey-bg{
        background-color: #F6F7FA;
        .login{
            display: flex;
            justify-content: center;
            .login-card{
                background-color: #FFFFFF;
                margin-top: -180px;
                border-radius: 50px;
                width: 70%;
                margin-bottom: 50px;
                .card-body{
                    padding: 20px 0px 20px 0px;
                    
                    .login-btn{
                        font-family: TTCommons-Regular;
                        border-radius: 10px 10px 0px 0px;
                        font-style: normal;
                        font-weight: 600;
                        font-size: 36px;
                        line-height: 48px;
                        width: 100%;
                        color: #B0B0B0;
                        border-bottom: 2px solid;
                        
                    }
                    .mt-16{
                        margin-top: 16px;
                    }
                    .active{
                        font-family: TTCommons-Regular;
                        font-style: normal;
                        font-weight: bold;
                        font-size: 36px;
                        line-height: 48px;
                        color: #f0bf3c;
                        margin-bottom: 20px;
                        border-bottom: 2px solid;
                        border-radius: 10px 10px 0px 0px;
                        padding-left: 0px;
                        padding-right: 0px;
                        width: 100%;
                    }
                    form{
                        padding: 20px 60px;
                        label{
                            font-family: TTCommons-Regular;
                            font-style: normal;
                            font-weight: 600;
                            color: #000000;
                        }
                        span{
                            border-radius: 0.50rem;
                            border-top-right-radius: 0;
                            border-bottom-right-radius: 0;
                            background: #00ffff00;
                            padding: 0px 24px;
                            img{
                                width: 24px;
                            }
                        }
                        
                        .input{
                            border-radius: 0.50rem;
                            border-top-left-radius: 0;
                            border-bottom-left-radius: 0;
                            padding: 36px 20px;
                            -webkit-transition-delay: 99999s;
                        }
                    }
                }
                .img{
                    display: flex;
                    justify-content: center;
                    img{
                        margin-top: -80px;
                        width: 200px;
                    }
                }
            }
        }
    }
}
.custom-select {
    background: #fff url("./../../../assets/images/caret.png") no-repeat right 1.45rem center;
    background-size: 20px 12px;
    width: 100%;
    height: 70px;
    padding-left: 20px;
  }
  .custom-select-wrapper{
      width: 88%;
  } 
  .custom-select-wrapper:after {
    border-left: 1px solid #ccc;
    content:"\00a0";
    position: absolute;
    top: 0;
    right: 70px;
    z-index: 2;
    display:block;
    height: 70px;
  }
  .custom-control-label::before{
      height: 20px;
      width: 20px;
      margin-right: 10px;
  }
  .custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #fff;
    background-color: #21DF6D;
    width: 20px;
    height: 20px;
}
.custom-control-label::after{
    width: 20px;
    height: 20px;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 0.2rem;
}

.custom-select:focus {
    border-color: #80bdff69;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.form-control:focus{
    border-color: #80bdff69;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.login-now{
    font-family: TTCommons-Regular;
     background-color: #f0bf3c !important;    ;
    color: #ffffff;
    border-radius: 10px;
    margin-top: 30px;
    padding: 26px 40px;
    font-size: 24px;
    text-align: left;
}
.custom-control-input{
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}
.btn-pos{
    position: relative;
    .login-now:hover{
        background-color: #f0bf3c;
    }
    img{
        position: absolute;
        right: 30px;
        top: 62px;
    }
}
.padding-3{
    padding: 3px 10px;
}

@media only screen and (max-width: 991px){
    .main{
        .grey-bg{
            .login{
                .login-card{
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 575px){
    .main{
        .grey-bg{
            .login{
                .login-card{
                    .card-body{
                        .active{
                            font-size: 22px;
                        }
                        form{
                            padding: 20px;
                            span{
                                padding: 0 14px;
                                img{
                                    width: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .login-now{
        font-size: 18px;
        padding: 20px;
    }
    .btn-pos{
        img{
            top: 56px;
            width: 22px;
        }
    }
}


// @media only screen and (min-width: 300px) and (max-width: 413px){

//     .main{
//         font-family: TTCommons-Regular;
//         .blue-bg{
//             background-color: #f0bf3c;
//             position: relative;
//             height: calc(60vh);
//         }
//         .grey-bg{
//             background-color: #F6F7FA;
//             .login{
//                 display: flex;
//                 justify-content: center;
//                 .login-card{
//                     background-color: #FFFFFF;
//                     margin-top: -120px;
//                     border-radius: 50px;
//                     width: 100%;
//                     margin-bottom: 50px;
//                     .card-body{
//                         padding: 20px 0px 20px 0px;
                        
//                         .login-btn{
//                             font-family: TTCommons-Regular;
//                             border-radius: 10px 10px 0px 0px;
//                             font-style: normal;
//                             font-weight: 600;
//                             font-size: 16px;
//                             line-height: 32px;
//                             width: 100%;
//                             color: #B0B0B0;
//                             border-bottom: 1px solid;
                            
//                         }
//                         .mt-16{
//                             margin-top: 16px;
//                         }
//                         .active{
//                             font-family: TTCommons-Regular;
//                             font-style: normal;
//                             font-weight: bold;
//                             font-size: 36px;
//                             line-height: 48px;
//                             color: #f0bf3c ;
//                             margin-bottom: 20px;
//                             border-bottom: 2px solid;
//                             border-radius: 10px 10px 0px 0px;
//                             padding-left: 0px;
//                             padding-right: 0px;
//                             width: 100%;
//                         }
//                         form{
//                             padding: 20px 20px;
//                             label{
//                                 font-family: TTCommons-Regular;
//                                 font-style: normal;
//                                 font-weight: 600;
//                                 color: #000000;
//                             }
//                             span{
//                                 border-radius: 0.50rem;
//                                 border-top-right-radius: 0;
//                                 border-bottom-right-radius: 0;
//                                 background: #00ffff00;
//                                 padding: 0px 14px;
//                                 img{
//                                     width: 16px;
//                                 }
//                             }
                            
//                             .input{
//                                 border-radius: 0.50rem;
//                                 border-top-left-radius: 0;
//                                 border-bottom-left-radius: 0;
//                                 padding: 36px 6px;
//                             }
//                         }
//                     }
//                     .img{
//                         display: flex;
//                         justify-content: center;
//                         img{
//                             margin-top: -80px;
//                             width: 60%;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .custom-select-wrapper{
//         width: 82%;
//     }
//     .custom-select {
//         background: #fff url("./../../../assets/images/caret.png") no-repeat right 0.80rem center;
//         background-size: 10px 6px;
//         width: 100%;
//         height: 70px;
//         padding-left: 6px;
//       }
//       .custom-select-wrapper:after {
//         border-left: 1px solid #ccc;
//         content:"\00a0";
//         position: absolute;
//         top: 0;
//         right: 36px;
//         z-index: 2;
//         display:block;
//         height: 70px;
//       }
// }

// @media only screen and (min-width: 414px) and (max-width: 471px){

//     .main{
//         font-family: TTCommons-Regular;
//         .blue-bg{
//             background-color: #f0bf3c;
//             position: relative;
//             height: calc(60vh);
//         }
//         .grey-bg{
//             background-color: #F6F7FA;
//             .login{
//                 display: flex;
//                 justify-content: center;
//                 .login-card{
//                     background-color: #FFFFFF;
//                     margin-top: -120px;
//                     border-radius: 50px;
//                     width: 100%;
//                     margin-bottom: 50px;
//                     .card-body{
//                         padding: 20px 0px 20px 0px;
                        
//                         .login-btn{
//                             font-family: TTCommons-Regular;
//                             border-radius: 10px 10px 0px 0px;
//                             font-style: normal;
//                             font-weight: 600;
//                             font-size: 16px;
//                             line-height: 32px;
//                             width: 100%;
//                             color: #B0B0B0;
//                             border-bottom: 1px solid;
//                             -webkit-appearance: none;
//                             -moz-appearance: none;
//                             appearance: none;
//                         }
//                         .mt-16{
//                             margin-top: 16px;
//                         }
//                         .active{
//                             font-family: TTCommons-Regular;
//                             font-style: normal;
//                             font-weight: bold;
//                             font-size: 36px;
//                             line-height: 48px;
//                             color: #f0bf3c;
//                             margin-bottom: 20px;
//                             border-bottom: 2px solid;
//                             border-radius: 10px 10px 0px 0px;
//                             padding-left: 0px;
//                             padding-right: 0px;
//                             width: 100%;
//                         }
//                         form{
//                             padding: 20px 20px;
//                             label{
//                                 font-family: TTCommons-Regular;
//                                 font-style: normal;
//                                 font-weight: 600;
//                                 color: #000000;
//                             }
//                             span{
//                                 border-radius: 0.50rem;
//                                 border-top-right-radius: 0;
//                                 border-bottom-right-radius: 0;
//                                 background: #00ffff00;
//                                 padding: 0px 12px;
//                                 img{
//                                     width: 16px;
//                                 }
//                             }
                            
//                             .input{
//                                 border-radius: 0.50rem;
//                                 border-top-left-radius: 0;
//                                 border-bottom-left-radius: 0;
//                                 padding: 36px 6px;
//                             }
//                         }
//                     }
//                     .img{
//                         display: flex;
//                         justify-content: center;
//                         img{
//                             margin-top: -80px;
//                             width: 40%;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .custom-select-wrapper{
//         width: 88%;
//     }
//     .custom-select {
//         background: #fff url("./../../../assets/images/caret.png") no-repeat right 0.80rem center;
//         background-size: 10px 6px;
//         width: 100%;
//         height: 70px;
//         padding-left: 6px;
//       }
//       .custom-select-wrapper:after {
//         border-left: 1px solid #ccc;
//         content:"\00a0";
//         position: absolute;
//         top: 0;
//         right: 36px;
//         z-index: 2;
//         display:block;
//         height: 70px;
//       }
// }

// @media only screen and (min-width: 472px) and (max-width: 702px){

//     .main{
//         font-family: TTCommons-Regular;
//         .blue-bg{
//             background-color: #f0bf3c;
//             position: relative;
//             height: calc(60vh);
//         }
//         .grey-bg{
//             background-color: #F6F7FA;
//             .login{
//                 display: flex;
//                 justify-content: center;
//                 .login-card{
//                     background-color: #FFFFFF;
//                     margin-top: -120px;
//                     border-radius: 50px;
//                     width: 100%;
//                     margin-bottom: 50px;
//                     .card-body{
//                         padding: 20px 0px 20px 0px;
                        
//                         .login-btn{
//                             font-family: TTCommons-Regular;
//                             border-radius: 10px 10px 0px 0px;
//                             font-style: normal;
//                             font-weight: 600;
//                             font-size: 16px;
//                             line-height: 32px;
//                             width: 100%;
//                             color: #B0B0B0;
//                             border-bottom: 1px solid;
                            
//                         }
//                         .mt-16{
//                             margin-top: 16px;
//                         }
//                         .active{
//                             font-family: TTCommons-Regular;
//                             font-style: normal;
//                             font-weight: bold;
//                             font-size: 36px;
//                             line-height: 48px;
//                             color: #f0bf3c;
//                             margin-bottom: 20px;
//                             border-bottom: 2px solid;
//                             border-radius: 10px 10px 0px 0px;
//                             padding-left: 0px;
//                             padding-right: 0px;
//                             width: 100%;
//                         }
//                         form{
//                             padding: 20px 20px;
//                             label{
//                                 font-family: TTCommons-Regular;
//                                 font-style: normal;
//                                 font-weight: 600;
//                                 color: #000000;
//                             }
//                             span{
//                                 border-radius: 0.50rem;
//                                 border-top-right-radius: 0;
//                                 border-bottom-right-radius: 0;
//                                 background: #00ffff00;
//                                 padding: 0px 12px;
//                                 img{
//                                     width: 16px;
//                                 }
//                             }
                            
//                             .input{
//                                 border-radius: 0.50rem;
//                                 border-top-left-radius: 0;
//                                 border-bottom-left-radius: 0;
//                                 padding: 36px 6px;
//                             }
//                         }
//                     }
//                     .img{
//                         display: flex;
//                         justify-content: center;
//                         img{
//                             margin-top: -80px;
//                             width: 40%;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .custom-select-wrapper{
//         width: 89%;
//     }
//     .custom-select {
//         background: #fff url("./../../../assets/images/caret.png") no-repeat right 0.80rem center;
//         background-size: 10px 6px;
//         width: 100%;
//         height: 70px;
//         padding-left: 6px;
//       }
//       .custom-select-wrapper:after {
//         border-left: 1px solid #ccc;
//         content:"\00a0";
//         position: absolute;
//         top: 0;
//         right: 9%;
//         z-index: 2;
//         display:block;
//         height: 70px;
//       }
// }

// @media only screen and (min-width: 703px) and (max-width: 767px){

//     .main{
//         font-family: TTCommons-Regular;
//         .blue-bg{
//             background-color: #f0bf3c;
//             position: relative;
//             height: calc(60vh);
//         }
//         .grey-bg{
//             background-color: #F6F7FA;
//             .login{
//                 display: flex;
//                 justify-content: center;
//                 .login-card{
//                     background-color: #FFFFFF;
//                     margin-top: -120px;
//                     border-radius: 50px;
//                     width: 100%;
//                     margin-bottom: 50px;
//                     .card-body{
//                         padding: 20px 0px 20px 0px;
                        
//                         .login-btn{
//                             font-family: TTCommons-Regular;
//                             border-radius: 10px 10px 0px 0px;
//                             font-style: normal;
//                             font-weight: 600;
//                             font-size: 16px;
//                             line-height: 32px;
//                             width: 100%;
//                             color: #B0B0B0;
//                             border-bottom: 1px solid;
                            
//                         }
//                         .mt-16{
//                             margin-top: 16px;
//                         }
//                         .active{
//                             font-family: TTCommons-Regular;
//                             font-style: normal;
//                             font-weight: bold;
//                             font-size: 36px;
//                             line-height: 48px;
//                             color: #f0bf3c;
//                             margin-bottom: 20px;
//                             border-bottom: 2px solid;
//                             border-radius: 10px 10px 0px 0px;
//                             padding-left: 0px;
//                             padding-right: 0px;
//                             width: 100%;
//                         }
//                         form{
//                             padding: 20px 20px;
//                             label{
//                                 font-family: TTCommons-Regular;
//                                 font-style: normal;
//                                 font-weight: 600;
//                                 color: #000000;
//                             }
//                             span{
//                                 border-radius: 0.50rem;
//                                 border-top-right-radius: 0;
//                                 border-bottom-right-radius: 0;
//                                 background: #00ffff00;
//                                 padding: 0px 14px;
//                                 img{
//                                     width: 16px;
//                                 }
//                             }
                            
//                             .input{
//                                 border-radius: 0.50rem;
//                                 border-top-left-radius: 0;
//                                 border-bottom-left-radius: 0;
//                                 padding: 36px 14px;
//                             }
//                         }
//                     }
//                     .img{
//                         display: flex;
//                         justify-content: center;
//                         img{
//                             margin-top: -80px;
//                             width: 40%;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .custom-select-wrapper{
//         width: 90%;
//     }
//     .custom-select {
//         background: #fff url("./../../../assets/images/caret.png") no-repeat right 0.80rem center;
//         background-size: 16px 10px;
//         width: 100%;
//         height: 70px;
//         padding-left: 14px;
//       }
//       .custom-select-wrapper:after {
//         border-left: 1px solid #ccc;
//         content:"\00a0";
//         position: absolute;
//         top: 0;
//         right: 9%;
//         z-index: 2;
//         display:block;
//         height: 70px;
//       }

// }

// @media only screen and (min-width: 768px) and (max-width: 991px){

//     .main{
//         font-family: TTCommons-Regular;
//         .blue-bg{
//             background-color: #f0bf3c;
//             position: relative;
//             height: 252px;
//         }
//         .grey-bg{
//             background-color: #F6F7FA;
//             .login{
//                 display: flex;
//                 justify-content: center;
//                 .login-card{
//                     background-color: #FFFFFF;
//                     margin-top: -170px;
//                     border-radius: 50px;
//                     width: 100%;
//                     margin-bottom: 50px;
//                     .card-body{
//                         padding: 20px 0px 20px 0px;
                        
//                         .login-btn{
//                             font-family: TTCommons-Regular;
//                             border-radius: 10px 10px 0px 0px;
//                             font-style: normal;
//                             font-weight: 600;
//                             font-size: 36px;
//                             line-height: 48px;
//                             width: 100%;
//                             color: #B0B0B0;
//                             border-bottom: 2px solid;
                            
//                         }
//                         .mt-16{
//                             margin-top: 16px;
//                         }
//                         .active{
//                             font-family: TTCommons-Regular;
//                             font-style: normal;
//                             font-weight: bold;
//                             font-size: 36px;
//                             line-height: 48px;
//                             color: #f0bf3c;
//                             margin-bottom: 20px;
//                             border-bottom: 2px solid;
//                             border-radius: 10px 10px 0px 0px;
//                             padding-left: 0px;
//                             padding-right: 0px;
//                             width: 100%;
//                         }
//                         form{
//                             padding: 20px 20px;
//                             label{
//                                 font-family: TTCommons-Regular;
//                                 font-style: normal;
//                                 font-weight: 600;
//                                 color: #000000;
//                             }
//                             span{
//                                 border-radius: 0.50rem;
//                                 border-top-right-radius: 0;
//                                 border-bottom-right-radius: 0;
//                                 background: #00ffff00;
//                                 padding: 0px 24px;
//                                 img{
//                                     width: 16px;
//                                 }
//                             }
                            
//                             .input{
//                                 border-radius: 0.50rem;
//                                 border-top-left-radius: 0;
//                                 border-bottom-left-radius: 0;
//                                 padding: 36px 14px;
//                             }
//                         }
//                     }
//                     .img{
//                         display: flex;
//                         justify-content: center;
//                         img{
//                             margin-top: -80px;
//                             width: 30%;
//                        }
//                     }
//                 }
//             }
//         }
//     }
//     .custom-select-wrapper{
//         width: 90%;
//     }
//     .custom-select {
//         background: #fff url("./../../../assets/images/caret.png") no-repeat right 1.4rem center;
//         background-size: 16px 10px;
//         width: 100%;
//         height: 70px;
//         padding-left: 14px;
//       }
//       .custom-select-wrapper:after {
//         border-left: 1px solid #ccc;
//         content:"\00a0";
//         position: absolute;
//         top: 0;
//         right: 9%;
//         z-index: 2;
//         display:block;
//         height: 70px;
//       }

// }

// @media only screen and (min-width: 992px) and (max-width: 1023px){

//     .main{
//         font-family: TTCommons-Regular;
//         .blue-bg{
//             background-color: #f0bf3c;
//             position: relative;
//             height: calc(60vh);
//         }
//         .grey-bg{
//             background-color: #F6F7FA;
//             .login{
//                 display: flex;
//                 justify-content: center;
//                 .login-card{
//                     background-color: #FFFFFF;
//                     margin-top: -120px;
//                     border-radius: 50px;
//                     width: 100%;
//                     margin-bottom: 50px;
//                     .card-body{
//                         padding: 20px 0px 20px 0px;
                        
//                         .login-btn{
//                             font-family: TTCommons-Regular;
//                             border-radius: 10px 10px 0px 0px;
//                             font-style: normal;
//                             font-weight: 600;
//                             font-size: 16px;
//                             line-height: 32px;
//                             width: 100%;
//                             color: #B0B0B0;
//                             border-bottom: 1px solid;
                            
//                         }
//                         .mt-16{
//                             margin-top: 16px;
//                         }
//                         .active{
//                             font-family: TTCommons-Regular;
//                             font-style: normal;
//                             font-weight: bold;
//                             font-size: 36px;
//                             line-height: 48px;
//                             color: #f0bf3c;
//                             margin-bottom: 20px;
//                             border-bottom: 2px solid;
//                             border-radius: 10px 10px 0px 0px;
//                             padding-left: 0px;
//                             padding-right: 0px;
//                             width: 100%;
//                         }
//                         form{
//                             padding: 20px 20px;
//                             label{
//                                 font-family: TTCommons-Regular;
//                                 font-style: normal;
//                                 font-weight: 600;
//                                 color: #000000;
//                             }
//                             span{
//                                 border-radius: 0.50rem;
//                                 border-top-right-radius: 0;
//                                 border-bottom-right-radius: 0;
//                                 background: #00ffff00;
//                                 padding: 0px 24px;
//                                 img{
//                                     width: 16px;
//                                 }
//                             }
                            
//                             .input{
//                                 border-radius: 0.50rem;
//                                 border-top-left-radius: 0;
//                                 border-bottom-left-radius: 0;
//                                 padding: 36px 14px;
//                             }
//                         }
//                     }
//                     .img{
//                         display: flex;
//                         justify-content: center;
//                         img{
//                             margin-top: -80px;
//                             width: 200px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .custom-select-wrapper{
//         width: 92%;
//     }
//     .custom-select {
//         background: #fff url("./../../../assets/images/caret.png") no-repeat right 1.4rem center;
//         background-size: 16px 10px;
//         width: 100%;
//         height: 70px;
//         padding-left: 14px;
//       }
//       .custom-select-wrapper:after {
//         border-left: 1px solid #ccc;
//         content:"\00a0";
//         position: absolute;
//         top: 0;
//         right: 9%;
//         z-index: 2;
//         display:block;
//         height: 70px;
//       }

// }

// @media only screen and (min-width: 1024px) and (max-width: 1200px){

//     .main{
//         font-family: TTCommons-Regular;
//         .blue-bg{
//             background-color: #f0bf3c;
//             position: relative;
//             height: 243px;
//         }
//         .grey-bg{
//             background-color: #F6F7FA;
//             .login{
//                 display: flex;
//                 justify-content: center;
//                 .login-card{
//                     background-color: #FFFFFF;
//                     margin-top: -160px;
//                     border-radius: 50px;
//                     width: 100%;
//                     margin-bottom: 50px;
//                     .card-body{
//                         padding: 20px 0px 20px 0px;
                        
//                         .login-btn{
//                             font-family: TTCommons-Regular;
//                             border-radius: 10px 10px 0px 0px;
//                             font-style: normal;
//                             font-weight: 600;
//                             font-size: 36px;
//                             line-height: 48px;
//                             width: 100%;
//                             color: #B0B0B0;
//                             border-bottom: 2px solid;
                            
//                         }
//                         .mt-16{
//                             margin-top: 16px;
//                         }
//                         .active{
//                             font-family: TTCommons-Regular;
//                             font-style: normal;
//                             font-weight: bold;
//                             font-size: 36px;
//                             line-height: 48px;
//                             color: #f0bf3c;
//                             margin-bottom: 20px;
//                             border-bottom: 2px solid;
//                             border-radius: 10px 10px 0px 0px;
//                             padding-left: 0px;
//                             padding-right: 0px;
//                             width: 100%;
//                         }
//                         form{
//                             padding: 20px 20px;
//                             label{
//                                 font-family: TTCommons-Regular;
//                                 font-style: normal;
//                                 font-weight: 600;
//                                 color: #000000;
//                             }
//                             span{
//                                 border-radius: 0.50rem;
//                                 border-top-right-radius: 0;
//                                 border-bottom-right-radius: 0;
//                                 background: #00ffff00;
//                                 padding: 0px 26px;
//                                 img{
//                                     width: 16px;
//                                 }
//                             }
                            
//                             .input{
//                                 border-radius: 0.50rem;
//                                 border-top-left-radius: 0;
//                                 border-bottom-left-radius: 0;
//                                 padding: 36px 14px;
//                             }
//                         }
//                     }
//                     .img{
//                         display: flex;
//                         justify-content: center;
//                         img{
//                             margin-top: -80px;
//                             width: 200px;
//                         }
//                     }
//                 }
//             }
//         }
//     }
//     .custom-select-wrapper{
//         width: 92%;
//     }
//     .custom-select {
//         background: #fff url("./../../../assets/images/caret.png") no-repeat right 1.4rem center;
//         background-size: 16px 10px;
//         width: 100%;
//         height: 70px;
//         padding-left: 14px;
//       }
//       .custom-select-wrapper:after {
//         border-left: 1px solid #ccc;
//         content:"\00a0";
//         position: absolute;
//         top: 0;
//         right: 7%;
//         z-index: 2;
//         display:block;
//         height: 70px;
//       }

// }